<ul class="list-group list-group-flush">
  <li class="list-group-item" *ngFor="let post of posts; let i = index">
        <div class="d-flex justify-content-start">
          <a class="font-weight-bold" [href]="'/posts/' + post.id">{{post.title}}</a>
          <a class="badge badge-pill badge-secondary ml-3" [href]="'/posts/tag/' + post.tag">{{post.tag}}</a>
        </div>
        <p class="ml-3" style="font-size: 0.8rem;" *ngIf="authors[i]">By: {{ authors[i] }}</p>
        <p>{{post.content}}</p>
        <p class="test-secondary" style="font-size: 0.8rem;">Created {{ post.createdAt | date : 'medium' }}</p>
        <div class="d-flex">
          <button class="btn btn-primary" (click)="userLikePost(post.id, i)" *ngIf="profile && !userLikes[i]">Like</button>
          <button class="btn btn-danger" (click)="userUnlikePost(post.id, i)" *ngIf="profile && userLikes[i]">Unlike</button>
          <p class="ml-3 my-auto font-weight-bold" style="font-size: 0.8rem;" *ngIf="likes[i] !== undefined">Likes: {{ likes[i] }}</p>
        </div>
    </li>
  </ul>